/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/12/2018, 19:29:24
    Author     : valeria
*/

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right:  1rem;
  margin-top: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

